<footer>
    <!--1-->
    <span class="hstack gap48">
        <div class="f-block">
            <p class="bold black90">Көмек</p>
            <ul>
                <li><a href="rules_kz.html" class="ghost black80">
                        <p class="caption">Қолдау</p>
                    </a>
                </li>

                <li>
                    <a href="mailto:support@aida.kz" class="ghost black80">
                        <p class="caption">support@aida.kz</p>
                    </a>
                </li>

                <li><a href="b2b@aida.kz" class="ghost caption black80">
                        <p class="caption">b2b@aida.kz</p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="f-block">
            <ul>
                <li><a href="rules_kz.html" class="ghost black80">
                    <p class="caption">Пайдаланушы келісімі</p>
                </a></li>

                <li><a href="rules_kz.html" class="ghost black80">
                    <p class="caption">Бос жұмыс орындары</p>
                </a></li>
            </ul>
        </div>
        
    </span>

    <!--2-->
    <span class="foot2">
        <a href="">
            <img src="../static/src/logo-black.svg" alt="Aida">
        </a>

        <span class="hstack_important gap8">
            <a href="" class="icon">
                <img src="../static/src/instagram.svg" alt="instagram">
            </a>

            <a href="" class="icon">
                <img src="../static/src/telegram.svg" alt="telegram">
            </a>
        </span>
    </span>

    <p class="caption black80">Aida | 2024</p>

</footer>