<header>
    <a href="../">
        <img src="../static/src/logo-black.svg" alt="Aida">
    </a>

    <div class="desktop">
        <span class="hstack">

            <a class="ghost"><p class="black80">Правила</p></a>


            <!--Selector-->
            <span class="switcher">
                <a href="/?lang=ru" class="border_m black90"><p>Рус</p></a>
                <a href="/?lang=kz" class="ghost black90"><p>Қаз</p></a>
            </span>



        </span>
    </div>

    <div class="mobile">
        <button class="ghost icon">
            <img src="../static/src/menu.svg" alt="menu">
        </button>
    </div>

</header>