:root {
    --black100: #121212;
    --black90: #393D3F;
    --black80: #747C81;

    --green: #00DE00;
    --lyme: #CBF65E;
    --blue:#5AA9E6;
    --red:#FD4D17;

    --white90: #FDFDFF;
    --white80: #F2F2F2;

}

.white90{
    color: var(--white90);
}


.black90{
    color: var(--black90);
}

.black80{
    color: var(--black80);
}

.white80bg{
    background-color: var(--white80);
}

.white90bg{
    background-color: var(--white90);
}

.black90bg{
    background-color: var(--black90);
}


.greenbg{
    background-color: var(--green);
}

.lymebg{
    background-color: var(--lyme);
}

.bluebg{
    background-color:var(--blue);
}

.redbg{
    background-color: var(--red);
}