header{
    display: flex;
    width: 100%;
    max-width: 1280px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

header img{
    height: 48px;
}

header span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.switcher{
    gap: 16px;
}

.mobile{
    display: none;
}

/* Скрыть меню по умолчанию */
#sidebarMenu {
    position: fixed;
    right: -100%; /* Ширина меню */
    top: 0;
    width: 100%;
    height: 100%;
    padding: 24px 16px;
    z-index: 1;
    transition: right 0.3s ease;

    box-sizing: border-box;
}

/* Стиль для активного меню */
#sidebarMenu.active {
    right: 0;
}


.close-menu {
    position: absolute;
    top: 24px; /* Регулируйте по своему усмотрению */
    right: 16px; /* Регулируйте по своему усмотрению */
    background: #fff; /* Или любой другой цвет, соответствующий дизайну */
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}





@media screen and (max-width: 1300px) {
    header{
        padding-left: 16px;
        padding-right: 16px;
    }


}

@media screen and (max-width: 740px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
}

