<!DOCTYPE html>
<html lang="ru">
<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aida | Городской байкшеринг</title>
    <meta name="description" content="Aida - ваш городской байкшеринг. Найдите ближайший велосипед и начните своё путешествие сейчас!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Aida | Городской байкшеринг">
    <meta property="og:description" content="Найдите ближайший велосипед и начните своё путешествие с Aida!">
    <meta property="og:image" content="../static/src/meta/meta_index_ru.jpg">


    

    <!--Links-->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!--Fav-->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/src/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/src/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/src/fav/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e1ff09">
    <meta name="msapplication-TileColor" content="#e1ff09">
    <meta name="theme-color" content="#e1ff09">
</head>
<body>
    <!--Header-->
    <div id="header"></div>

    <main>
        <!--Cover-->
        <div class="cover">
            <h1 class="bold black90 center">Айда с ветерком</h1>
            <img src="../static/src/cover.png" alt="cover">
        </div>

        <!--How-to-->
        <div class="block howto">
            <h3 class="bold black90 center">Легкий старт</h3>
            <div class="grid">
                <div class="card greenbg">
                    <h5 class="black90">Находите велосипед<br>на карте</h5>
                    <img src="../static/src/img1.png" alt="Phone with map">
                </div>
                <div class="card greenbg">
                    <h5 class="black90">Отсканируйте QR-код на велосипеде</h5>
                    <img src="../static/src/img2.png" alt="Scan qr on bike">
                </div>
                <div class="card greenbg">
                    <h5 class="black90">Арендуете велосипед</h5>
                    <img src="../static/src/img3.png" alt="Biking">
                </div>
                <div class="card greenbg">
                    <h5 class="black90">Возращаете на любую удобную парковку</h5>
                    <img src="../static/src/img4.png" alt="Parking">
                </div>
            </div>
            <img class="lymeimg" src="../static/src/lyme-bg.svg" alt="lyme">
        </div>

        <!--Tarif-->
        <div class="block tarif">
            <h3 class="bold black90 center mt48">Тарифы</h3>

            <div class="hstack gap16">
                <div class="card lymebg gap8">
                    <h1 class="black90 bold">199₸</h1>
                    <p class="black90">30 минут/далее 49₸ за минуту</p>
                </div>

                <div class="card bluebg">
                    <h3 class="white90">Абонемент</h3>
                </div> 
            </div>
        </div>

        <!--Download-->
        <div class="block mt100">
            <div class="download white80bg">
                <span class="vstack gap24">
                    <h3 class="bold black90">Ваш ключ к свободе<br>в приложении</h3>
                    <img class="colorlogo" src="../static/src/logo-color.svg" alt="Logo color">
                    <button id="popup-btn" class="sizem lymebg bold black90">Скачать приложение</button>
                </span>
                <img class="bike2" src="../static/src/bike2.png" alt="bike">
            </div>
        </div>
        
        <!-- Попап -->
        <div class="popup hidden white90bg">
            <img src="../static/src/logo-color.svg" alt="Aida logo">
            <div class="desktop">
                <h4 class="bold black90 center">Сканируйте QR-код для загрузки приложения</h4>
                <img class="qrimg" src="../static/src/qr.png" alt="qr">
            </div>
         
            <button class="sizem lymebg" id="downButton">Скачать</button>
        </div>
  
        <!-- Затемненный фон -->
        <div class="overlay hidden"></div>

        <!--Down-->
        <div class="down black90bg">
            <img src="../static/src/white-icon-logo.svg" alt="logo">
            <button class="sizem lymebg" id="downButton">Скачать</button>
        </div>
    </main>

    <!--Footer-->
    <div id="footer"></div>

    <!-- Подключение jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/components.js"></script>
    <script src="../static/js/scripts.js"></script>
    

</body>
</html>
